In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/2023-ml-w4p1/train.csv
/kaggle/input/2023-ml-w4p1/test.csv
/kaggle/input/2023-ml-w4p1/sample_submit.csv

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train = pd.read_csv('/kaggle/input/2023-ml-w4p1/train.csv')
test = pd.read_csv('/kaggle/input/2023-ml-w4p1/test.csv')

In [4]:
train

        N    P    K  temperature   humidity        ph    rainfall        label
0      22   36   16    30.581395  50.771481  8.184229   64.585596    mothbeans
1      18   27   41    22.365094  92.308824  7.175344  104.821633  pomegranate
2      61   68   50    35.214628  91.497251  6.793245  243.074507       papaya
3      26   72   22    28.767949  37.577921  4.674942   91.720849   pigeonpeas
4       2  140  197    22.697801  92.822234  5.534567  105.050823        apple
...   ...  ...  ...          ...        ...       ...         ...          ...
1645   10    5    5    21.213070  91.353492  7.817846  112.983436       orange
1646  108   94   47    27.359116  84.546250  6.387431   90.812505       banana
1647   11   36   31    27.920633  51.779659  6.475449  100.258567        mango
1648   11  124  204    13.429886  80.066340  6.361141   71.400430       grapes
1649   32   78   22    23.970814  62.355576  7.007038   53.409060       lentil

[1650 rows x 8 columns]

In [5]:
test

       N    P    K  temperature   humidity        ph    rainfall
0    101   17   47    29.494014  94.729813  6.185053   26.308209
1     98    8   51    26.179346  86.522581  6.259336   49.430510
2     59   62   49    43.360515  93.351916  6.941497  114.778071
3     44   60   55    34.280461  90.555616  6.825371   98.540477
4     30  137  200    22.914300  90.704756  5.603413  118.604465
..   ...  ...  ...          ...        ...       ...         ...
545  100   32   26    25.234661  57.531615  6.043486  124.226174
546   50   46   52    31.182984  90.216469  6.734006   54.018724
547   30   65   82    20.714244  15.278241  7.103798   76.778887
548   93   26   27    24.592457  56.468296  7.288212  137.704405
549   63   47   35    26.985822  89.055879  7.432768  193.877871

[550 rows x 7 columns]

In [6]:
print(train.shape)
X = train.drop('label', axis=1) 
print(X.shape)

y = train['label']

(1650, 8)
(1650, 7)

In [7]:
from sklearn.preprocessing import LabelEncoder
import numpy as np

classle = LabelEncoder()  # class Label Encoder 인스턴스 생성
y = classle.fit_transform(train['label'].values) # 라벨 열의 문자열은 categorical 값으로 전환
print('fruits :', np.unique(y))  # 중복되는 y값을 하나로 정리하여 print

fruits : [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21]

In [8]:
yo = classle.inverse_transform(y)
print('species:', np.unique(yo))

species: ['apple' 'banana' 'blackgram' 'chickpea' 'coconut' 'coffee' 'cotton'
 'grapes' 'jute' 'kidneybeans' 'lentil' 'maize' 'mango' 'mothbeans'
 'mungbean' 'muskmelon' 'orange' 'papaya' 'pigeonpeas' 'pomegranate'
 'rice' 'watermelon']

In [9]:
from sklearn.model_selection import train_test_split # scikit-learn의 model_selection library를 train_test_split로 명명
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1, stratify=y)  # X와 y의 data를 분할

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1485, 7)
(165, 7)
(1485,)
(165,)

In [10]:
#(옵션)
from sklearn.preprocessing import StandardScaler

std=StandardScaler()

X_train_std=std.fit_transform(X_train)
X_test_std=std.transform(X_test)

In [11]:
# KNN 적용
from sklearn.neighbors import KNeighborsClassifier  # KNN 불러오기
knn = KNeighborsClassifier(n_neighbors=5, p=1, weights ='distance')
#knn.fit(X_train_std, y_train)  #모델 fitting 과정
knn.fit(X_train, y_train)

KNeighborsClassifier(p=1, weights='distance')

In [12]:
#y_train_pred = knn.predict(X_train_std)  # train data의 y값 예측치
y_train_pred = knn.predict(X_train)  # train data의 y값 예측치
#y_test_pred = knn.predict(X_test_std)  # 모델을 적용한 test data의 y값 예측치
y_test_pred = knn.predict(X_test)  # 모델을 적용한 test data의 y값 예측치
print('Misclassified training samples: %d' %(y_train != y_train_pred).sum())  # 오분류 데이터 갯수 확인
print('Misclassified test samples: %d'%(y_test != y_test_pred).sum()) # 오분류 데이터 갯수 확인

Misclassified training samples: 0
Misclassified test samples: 2

In [13]:
from sklearn.metrics import accuracy_score  # 정확도 계산을 위한 모듈 import
print(accuracy_score(y_test, y_test_pred))

0.9878787878787879

In [14]:
y_pred = knn.predict(test)  # 모델을 적용한 test data의 y값 예측치

In [15]:
yyy = classle.inverse_transform(y_pred)
yyy

array(['muskmelon', 'watermelon', 'papaya', 'papaya', 'apple', 'mango',
       'apple', 'mothbeans', 'mungbean', 'lentil', 'blackgram', 'coconut',
       'pomegranate', 'jute', 'coconut', 'pomegranate', 'apple', 'cotton',
       'papaya', 'muskmelon', 'coffee', 'papaya', 'orange', 'papaya',
       'chickpea', 'jute', 'mungbean', 'orange', 'pigeonpeas', 'jute',
       'pomegranate', 'mothbeans', 'jute', 'lentil', 'jute', 'blackgram',
       'jute', 'chickpea', 'chickpea', 'kidneybeans', 'papaya', 'mango',
       'blackgram', 'maize', 'mungbean', 'maize', 'pigeonpeas', 'coconut',
       'muskmelon', 'maize', 'blackgram', 'coffee', 'grapes', 'mungbean',
       'coffee', 'kidneybeans', 'cotton', 'apple', 'banana', 'blackgram',
       'watermelon', 'coconut', 'lentil', 'orange', 'papaya', 'blackgram',
       'orange', 'rice', 'muskmelon', 'pigeonpeas', 'muskmelon',
       'coconut', 'jute', 'banana', 'blackgram', 'papaya', 'banana',
       'cotton', 'watermelon', 'orange', 'coffee', 'chickpea', 'rice',
       'mothbeans', 'orange', 'mango', 'coffee', 'mothbeans', 'blackgram',
       'pomegranate', 'maize', 'mothbeans', 'cotton', 'papaya',
       'pigeonpeas', 'mothbeans', 'kidneybeans', 'coffee', 'blackgram',
       'lentil', 'coconut', 'rice', 'orange', 'muskmelon', 'watermelon',
       'kidneybeans', 'watermelon', 'banana', 'pigeonpeas', 'mothbeans',
       'banana', 'jute', 'cotton', 'pomegranate', 'pigeonpeas',
       'chickpea', 'maize', 'coconut', 'pomegranate', 'rice',
       'pigeonpeas', 'grapes', 'blackgram', 'coconut', 'chickpea',
       'blackgram', 'coconut', 'maize', 'banana', 'mothbeans', 'banana',
       'kidneybeans', 'pomegranate', 'chickpea', 'coconut', 'orange',
       'pigeonpeas', 'banana', 'banana', 'apple', 'kidneybeans',
       'muskmelon', 'mungbean', 'mothbeans', 'coconut', 'maize', 'apple',
       'coconut', 'kidneybeans', 'mothbeans', 'mungbean', 'lentil',
       'watermelon', 'mungbean', 'pigeonpeas', 'pigeonpeas', 'pigeonpeas',
       'kidneybeans', 'maize', 'jute', 'chickpea', 'apple', 'orange',
       'cotton', 'rice', 'coconut', 'grapes', 'lentil', 'watermelon',
       'grapes', 'grapes', 'blackgram', 'pomegranate', 'chickpea',
       'coconut', 'maize', 'lentil', 'grapes', 'watermelon', 'jute',
       'coffee', 'coffee', 'kidneybeans', 'jute', 'mothbeans',
       'kidneybeans', 'banana', 'kidneybeans', 'coconut', 'papaya',
       'papaya', 'mungbean', 'mango', 'pomegranate', 'watermelon',
       'kidneybeans', 'maize', 'apple', 'blackgram', 'chickpea', 'grapes',
       'grapes', 'banana', 'cotton', 'rice', 'pomegranate', 'mungbean',
       'banana', 'jute', 'mungbean', 'maize', 'chickpea', 'chickpea',
       'chickpea', 'apple', 'rice', 'kidneybeans', 'papaya', 'coffee',
       'blackgram', 'kidneybeans', 'mango', 'mango', 'coconut', 'papaya',
       'apple', 'chickpea', 'pomegranate', 'chickpea', 'muskmelon',
       'apple', 'muskmelon', 'muskmelon', 'mango', 'mango', 'cotton',
       'coconut', 'pomegranate', 'rice', 'muskmelon', 'coffee', 'papaya',
       'lentil', 'maize', 'mango', 'muskmelon', 'pigeonpeas', 'mungbean',
       'coffee', 'grapes', 'coconut', 'cotton', 'pigeonpeas', 'rice',
       'apple', 'pomegranate', 'coffee', 'chickpea', 'cotton', 'jute',
       'mango', 'banana', 'papaya', 'apple', 'chickpea', 'jute',
       'pigeonpeas', 'mothbeans', 'mungbean', 'jute', 'pomegranate',
       'grapes', 'mothbeans', 'jute', 'maize', 'coconut', 'maize',
       'chickpea', 'banana', 'jute', 'coconut', 'jute', 'mango',
       'muskmelon', 'apple', 'banana', 'pigeonpeas', 'blackgram',
       'orange', 'chickpea', 'watermelon', 'banana', 'apple', 'chickpea',
       'coffee', 'pigeonpeas', 'orange', 'apple', 'coconut', 'papaya',
       'watermelon', 'mothbeans', 'papaya', 'chickpea', 'pomegranate',
       'chickpea', 'papaya', 'lentil', 'apple', 'pomegranate', 'chickpea',
       'mango', 'chickpea', 'pomegranate', 'watermelon', 'kidneybeans',
       'mungbean', 'muskmelon', 'watermelon', 'kidneybeans', 'muskmelon',
       'mango', 'jute', 'blackgram', 'chickpea', 'banana', 'blackgram',
       'pigeonpeas', 'papaya', 'kidneybeans', 'mungbean', 'coconut',
       'cotton', 'grapes', 'apple', 'lentil', 'banana', 'jute', 'apple',
       'pomegranate', 'apple', 'mungbean', 'muskmelon', 'coffee', 'jute',
       'pigeonpeas', 'jute', 'kidneybeans', 'banana', 'maize', 'jute',
       'maize', 'pigeonpeas', 'mango', 'kidneybeans', 'pomegranate',
       'watermelon', 'blackgram', 'maize', 'rice', 'mothbeans',
       'kidneybeans', 'mango', 'cotton', 'papaya', 'mothbeans', 'cotton',
       'mungbean', 'orange', 'jute', 'blackgram', 'mungbean', 'coffee',
       'banana', 'pigeonpeas', 'papaya', 'apple', 'pomegranate', 'maize',
       'mango', 'coconut', 'apple', 'lentil', 'jute', 'mothbeans',
       'lentil', 'coconut', 'blackgram', 'jute', 'mungbean', 'cotton',
       'watermelon', 'apple', 'grapes', 'coconut', 'grapes', 'watermelon',
       'rice', 'mango', 'mango', 'coffee', 'pomegranate', 'banana',
       'grapes', 'jute', 'orange', 'cotton', 'mango', 'papaya',
       'muskmelon', 'mothbeans', 'jute', 'chickpea', 'mothbeans',
       'pomegranate', 'watermelon', 'mothbeans', 'cotton', 'papaya',
       'watermelon', 'lentil', 'rice', 'coconut', 'mothbeans',
       'mothbeans', 'maize', 'rice', 'maize', 'coconut', 'orange',
       'pomegranate', 'kidneybeans', 'watermelon', 'mungbean',
       'blackgram', 'rice', 'rice', 'cotton', 'cotton', 'pigeonpeas',
       'orange', 'blackgram', 'lentil', 'banana', 'mango', 'maize',
       'apple', 'pomegranate', 'mango', 'cotton', 'mungbean',
       'pigeonpeas', 'chickpea', 'apple', 'coffee', 'pigeonpeas', 'jute',
       'jute', 'jute', 'papaya', 'lentil', 'grapes', 'jute', 'orange',
       'mungbean', 'mango', 'kidneybeans', 'grapes', 'mungbean', 'orange',
       'pigeonpeas', 'banana', 'jute', 'pigeonpeas', 'pomegranate',
       'coffee', 'muskmelon', 'blackgram', 'papaya', 'papaya',
       'pomegranate', 'kidneybeans', 'chickpea', 'mungbean', 'mungbean',
       'mango', 'pigeonpeas', 'muskmelon', 'mango', 'mothbeans',
       'pigeonpeas', 'muskmelon', 'rice', 'pomegranate', 'muskmelon',
       'pigeonpeas', 'apple', 'mungbean', 'jute', 'kidneybeans', 'apple',
       'rice', 'mango', 'papaya', 'mothbeans', 'cotton', 'pomegranate',
       'pigeonpeas', 'papaya', 'lentil', 'maize', 'chickpea', 'muskmelon',
       'cotton', 'kidneybeans', 'chickpea', 'mungbean', 'coffee',
       'coffee', 'orange', 'watermelon', 'orange', 'grapes', 'coffee',
       'pigeonpeas', 'mango', 'apple', 'mango', 'pomegranate', 'coffee',
       'pigeonpeas', 'coffee', 'grapes', 'cotton', 'pomegranate',
       'papaya', 'apple', 'blackgram', 'pigeonpeas', 'watermelon',
       'papaya', 'blackgram', 'grapes', 'lentil', 'jute', 'coffee',
       'papaya', 'chickpea', 'coffee', 'jute'], dtype=object)

In [16]:
submission = pd.DataFrame({
    "id" : range(len(yyy)),
    "label": yyy
})

submission.to_csv('sample_submit.csv', index = False)

In [17]:
submission

      id       label
0      0   muskmelon
1      1  watermelon
2      2      papaya
3      3      papaya
4      4       apple
..   ...         ...
545  545      coffee
546  546      papaya
547  547    chickpea
548  548      coffee
549  549        jute

[550 rows x 2 columns]